__pycache__
*/__pycache__/*
*.pyc
*.DS_Store
playground.ipynb
html_pages/*
google_responses/*
llm_responses/*
dataset/*/dropped_*
dataset/*/products_*
dataset/*/temp_*
!dataset/*/products_v1.0.csv
!dataset/*/products_v2.0.csv
!dataset/*/latest.csv
discarded_data/*
dataset/*/pages/*.html
dataset/*/content/*.txt
dataset_bk/
html_pages_bk/
dataset_bk2/
html_pages_bk2/
